<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :doctor%><br>
    <%= collection_select(:appointment, :doctor_id, Doctor.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :date_visit %><br>
    <%= f.date_select :date_visit %>
  </div>
  <div class="field">
    <%= f.label :pet %><br>
    <%= f.text_field :pet %>
  </div>
  <div class="field">
    <%= f.label :customer %><br>
    <%= f.text_field :customer %>
  </div>
  <div class="field">
    <%= f.label :reminder %><br>
    <%= f.check_box :reminder %>
  </div>
  <div class="field">
    <%= f.label :reason_for_visit %><br>
    <%= f.text_area :reason_for_visit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
